<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - trails</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2016 - trails</p>
            </footer>
        </div>
        
        <script src="~/lib/typescript.js"></script>
        <script src="~/lib/es6-shim.min.js"></script>
        <script src="~/lib/system-polyfills.js"></script>
        <script src="~/lib/angular2-polyfills.js"></script>
        <script src="~/lib/system.js"></script>
        <script src="~/lib/Rx.js"></script>
        <script src="~/lib/angular2.dev.js"></script>
        <script src="~/lib/router.dev.js"></script>
        <script src="~/lib/http.dev.js"></script>
        
        <script>
             System.config({
              transpiler: 'typescript', 
              typescriptOptions: { emitDecoratorMetadata: true }, 
              packages: {'app': {defaultExtension: 'ts'}} 
            });
            System.import('app/main')
            .then(null, console.error.bind(console));
        </script>
        @RenderSection("scripts", required: false)
    </body>
</html>
